*{
	margin: 0;
	padding: 0;
	outline: 0;
}
ol,ul{
	list-style-type: none;
}
a,a:hover{
	text-decoration: none;
}

header.jumbotron{
	padding: 2rem 2rem;
	background: #ffbc00;
}
footer.jumbotron,
header.jumbotron{
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

img[alt="hunter.jpg"]{
	width: 50px;
}
footer.jumbotron{
	padding: 1rem 2rem;
}